<div id="footer" class="container-fluid setbordertop setmargintop">
  <div class="row">
    <div class="col-md-12">
      <div class="container settop">
        <div class="row">
          <div class="col-md-3 setmargintop">
            <span>舉辦活動</span>
            <div class="setmargintop">
              <a href="#">費用方案</a>
              <a href="#">主辦方FB社群</a>
              <a href="#">常見問題</a>
            </div>
          </div>
          <div class="col-md-3 setmargintop">
            <span>參加活動</span>
            <div class="setmargintop">
              <a href="#">功能介紹</a>
              <a href="#">活動新鮮事</a>
            </div>
          </div>
          <div class="col-md-3 setmargintop">
            <span>關於我們</span>
            <div class="setmargintop">
              <a href="#">加入我們</a>
              <a href="#">服務條款</a>
              <a href="#">合作夥伴</a>
            </div>
          </div>
          <div class="col-md-3 setmargintop">
            <span>ISHARE客服中心</span>
            <div class="setmargintop">
              <p>服務信箱:xxxxxx@gmail.com<br/>
              週一到週五</p>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="col-md">
        <br>
        <hr color="#B7B8B8" size="5" width="90%" align="center">
      </div>
    </div>
  </div>
</div>